<form #contatoForm="ngForm" (ngSubmit)="onSubmit(contatoForm)">
  <div>
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" [(ngModel)]="contato.nome" required minlength="3" #nome="ngModel">
    @if (nome.invalid && (nome.dirty || nome.touched)) {
      <div>
        @if (nome.errors?.['required']) {
          <span>Nome é obrigatório.</span>
        }
        @if (nome.errors?.['minlength']) {
          <span>Nome deve ter pelo menos 3 caracteres.</span>
        }
      </div>
    }
  </div>

  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" [(ngModel)]="contato.email" required email #email="ngModel">
    @if (email.invalid && (email.dirty || email.touched)) {
      <div>
        @if (email.errors?.['required']) {
          <span>Email é obrigatório.</span>
        }
        @if (email.errors?.['email']) {
          <span>Por favor, insira um email válido.</span>
        }
      </div>
    }
  </div>

  <div>
    <label for="mensagem">Mensagem:</label>
    <textarea id="mensagem" name="mensagem" [(ngModel)]="contato.mensagem" required #mensagem="ngModel"></textarea>
    @if (mensagem.invalid && (mensagem.dirty || mensagem.touched)) {
      <div>
        @if (mensagem.errors?.['required']) {
          <span>Mensagem é obrigatória.</span>
        }
      </div>
    }
  </div>

  <button type="submit" [disabled]="!contatoForm.form.valid">Enviar</button>
</form>